@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


.container1 {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}
.wrapper1 {
    min-width: 410px;
    margin: 0 auto;
    border-radius: 0.5rem;
    padding: 2rem 1.5rem;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}
.main-title {
    color: #0056b3;
    font-weight: bold;
    font-size: 32px;
}

.wrapper1 .main-title{
    text-align: center;
    font-style: 1.37rem;
    font-weight: 600;
    margin-bottom: 1.87rem;
}

.wrapper1 .main-title .login-input {
    height: 100%;
    width: 75px;
    padding: 0 1.25rem 0 3.12rem;
    box-sizing: border-box;
}

.signup-btn{
    width: 100%;
    height: 54px;
    cursor: pointer;
    outline: none;
    border: none;
    font-weight: 500;
    font-size: 1.125rem;
    border-radius: 0.31rem;
}

.para1{
    margin-top: 18px;
    margin-left: 20px;
    font-family: "Montserrat", sans-serif;
}

.signup-btn:hover {
    background-color: #0056b3;
}
