.button-style {
    background-color: #4CAF50; 
    border: none;            
    color: white;             
    padding: 10px 20px;       
    text-align: center;       
    text-decoration: none;    
    display: inline-block;    
    font-size: 16px;         
    margin: 4px 2px;          
    cursor: pointer;         
    border-radius: 8px;      
  }
  
  .button-style:hover {
    background-color: #45a049; 
  }

  .l{
    margin-left:350px;
    margin-top:30px;
  }
  @media (max-width: 768px) {
    .button-style {
        font-size: 14px; 
        padding: 8px 16px; 
    }
    
    .l {
        margin-left: 2%; 
        margin-top: 1%;
    }
}